/* search color */
.sch_word {color:$t_cl01} 

/* page-view gd_bd*/
.pg{font-size:13px;
	&_wrap{clear:both;margin:30px 0 ;text-align:center}
	&_wrap:after {display:block;visibility:hidden;clear:both;content:""} 
	&_page, &_current {display:inline-block;vertical-align:middle;background-color:#f3f3f3;border:1px solid #bbbcc3}
	&_page{color:#555;height:35px;line-height:33px;padding:0 5px;width:35px;text-decoration:none;border-radius:3px;}
	&_page:hover{background-color:#f3f3f3} 
    /*이부분에 이미지는 추가로 삽입해줘야합니다.*/
    /*
	&_start {text-indent:-999px;overflow:hidden;background:url('../img/btn_first.gif') no-repeat 50% 50% #fff;padding:0;border:1px solid #bbb;}
	&_prev {text-indent:-999px;overflow:hidden;background:url('../img/btn_prev.gif') no-repeat 50% 50% #fff;padding:0;border:1px solid #bbb}
	&_end {text-indent:-999px;overflow:hidden;background:url('../img/btn_end.gif') no-repeat 50% 50% #fff;padding:0;border:1px solid #bbb}
    &_next {text-indent:-999px;overflow:hidden;background:url('../img/btn_next.gif') no-repeat 50% 50% #fff;padding:0;border:1px solid #bbb}
    */
    /* 
        &_start:hover,&_prev:hover,&_end:hover,&_next:hover{background-color:#fafafa}
    */
	&_current {display:inline-block;background-color:$t_cl01;border-color:$t_cl01;color:#fff;font-weight:bold;height:35px;line-height:33px;min-width:35px;border-radius:3px;box-shadow: inset 0px 0px 0px #222542;}
	//a:focus,a:hover {text-decoration:none} 
}
/*==== sir.kr common style -end ====*/ 