@charset "UTF-8";
/*sass 변수 모음*/
/*mixin and function 모음*/
/*SCSS*/
@-webkit-keyframes arrow {
  0% {
    margin-top: 15px;
  }
  100% {
    margin-top: 20px;
  }
}
@keyframes arrow {
  0% {
    margin-top: 15px;
  }
  100% {
    margin-top: 20px;
  }
}

@-webkit-keyframes bubble01 {
  0% {
    margin-top: -30px;
  }
  100% {
    margin-top: 30px;
  }
}

@keyframes bubble01 {
  0% {
    margin-top: -30px;
  }
  100% {
    margin-top: 30px;
  }
}

@-webkit-keyframes bubble02 {
  0% {
    background-position: 31.5% 130px, 68.5% 150px;
  }
  100% {
    background-position: 31.5% 150px, 68.5% 130px;
  }
}

@keyframes bubble02 {
  0% {
    background-position: 31.5% 130px, 68.5% 150px;
  }
  100% {
    background-position: 31.5% 150px, 68.5% 130px;
  }
}

@-webkit-keyframes bubble03 {
  0% {
    margin-top: -20px;
  }
  100% {
    margin-top: 20px;
  }
}

@keyframes bubble03 {
  0% {
    margin-top: -20px;
  }
  100% {
    margin-top: 20px;
  }
}

@-webkit-keyframes bubble04 {
  0% {
    margin-top: 20px;
  }
  100% {
    margin-top: -20px;
  }
}

@keyframes bubble04 {
  0% {
    margin-top: 20px;
  }
  100% {
    margin-top: -20px;
  }
}

@-webkit-keyframes duck01 {
  0% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  100% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
}

@keyframes duck01 {
  0% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  100% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
}

@-webkit-keyframes wave01 {
  0% {
    background-position: -1920px bottom;
  }
  100% {
    background-position: 1920px  bottom;
  }
}

@keyframes wave01 {
  0% {
    background-position: -1920px bottom;
  }
  100% {
    background-position: 1920px  bottom;
  }
}

body {
  overflow: hidden;
}

/*3d8dfb*/
body, html {
  min-width: 1200px;
  font-family: "Jua";
}

/*html{cursor: url("/img/web/cnt11_icon02.png"), auto}*/
.sir_ft_cl01 {
  color: #4785cf;
}

.sir_area01 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1200px;
  width: 100%;
}

.sir_title01 {
  text-align: center;
  color: #000;
  line-height: 65px;
  font-size: 50px;
}

.sir_title02, .sir_title02_1 {
  position: relative;
}

.sir_title02 span {
  position: relative;
  z-index: 60;
}

.sir_title02:before {
  position: absolute;
  content: "";
  width: 103%;
  height: 50%;
  background: #ffde00;
  top: 45%;
  left: -1.5%;
}

.sir_title02_1 span {
  position: relative;
  z-index: 60;
}

.sir_title02_1:before {
  position: absolute;
  content: "";
  width: 103%;
  height: 50%;
  background: #ffde00;
  top: 45%;
  left: -1.5%;
}

.J_fade .sir_title02:before {
  width: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.J_fade.fadeOn .sir_title02:before {
  width: 103%;
}

.be_bg01:before {
  background: #bcd0ec;
}

.be_bg02:before {
  background: #d9ccf4;
}

.be_bg03:before {
  background: #c3cfef;
}

.be_bg04:before {
  background: #e6ccef;
}

.be_bg05:before {
  background: #cdcdf4;
}

.be_bg06:before {
  background: #f4cde3;
}

.be_bg07:before {
  background: #e3ccf0;
}

.sir_icon01 {
  width: 40px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: relative;
}

.sir_icon01:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  top: 50%;
  left: 0;
  margin-top: -2.5px;
  background: #000;
}

.sir_icon02 {
  width: 55px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: relative;
}

.sir_icon02:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  top: 50%;
  left: 0;
  margin-top: -2.5px;
  background: #000;
}

.sir_line01 {
  width: 1px;
  height: 10px;
  display: inline-block;
  margin: 0 10px;
}

.sir_ani01 {
  -webkit-animation: arrow 0.8s linear infinite alternate;
          animation: arrow 0.8s linear infinite alternate;
}

.sir_bg01 {
  background: #4785cf;
}

.sir_bg02 {
  background: #ffde00;
}

.sir_bg03 {
  background: #ec70ac;
}

.sir_bg04 {
  background: #4785cf;
}

.sir_bg05 {
  background: #b6d5f5;
}

.sir_bg06 {
  background: #f09dc3;
}

.sir_ft01 {
  color: #4785cf;
}

.sir_ft02 {
  color: #ffde00;
}

.sir_ft03 {
  color: #ec70ac;
}

.sir_ft04 {
  color: #4785cf;
}

.sir_ft05 {
  color: #b6d5f5;
}

.sir_ft06 {
  color: #f09dc3;
}

#sir_hd {
  background: white;
  min-width: 1200px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#sir_hd.on {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 90;
  background: rgba(255, 255, 255, 0.9);
}

#sir_hd.shdow {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#sir_nav ul li {
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (min-width: 1200px) {
  #sir_nav ul li {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  #sir_logo {
    margin-left: 50px;
  }
}

#sir_user {
  margin-top: 44px;
}

@media only screen and (min-width: 1200px) {
  #sir_user {
    margin-right: 50px;
  }
}

#sir_user li {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #d9d9d9;
}

#sir_user li:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}

#sir_ft {
  background: url("/img/web/ft_bg.png") no-repeat center bottom;
}

#cnt01 {
  background: url("/img/web/cnt1_bg.png") repeat-x bottom;
  -webkit-animation: wave01 150s cubic-bezier(0, -0.01, 0.97, 0.99) infinite alternate;
          animation: wave01 150s cubic-bezier(0, -0.01, 0.97, 0.99) infinite alternate;
}

#cnt01 .img00 {
  bottom: 40px;
  left: 650px;
}

#cnt01 .img01 {
  bottom: 30px;
  left: 140px;
}

#cnt01 .img02 {
  bottom: 30px;
  left: 730px;
  opacity: 0;
}

#cnt01 .img03 {
  bottom: 0px;
  left: -290px;
  opacity: 0;
}

#cnt01 .img04 {
  bottom: 0px;
  right: -305px;
  opacity: 0;
}

#cnt01 .img05 {
  left: 60px;
  bottom: 30px;
}

#cnt01 .img06 {
  bottom: 430px;
  left: 600px;
}

#cnt01 .img07 {
  top: 50px;
  left: -240px;
  width: 40px;
  -webkit-animation: bubble03 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
          animation: bubble03 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

#cnt01 .img08 {
  top: -150px;
  left: 0px;
  width: 40px;
  -webkit-animation: bubble04 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
          animation: bubble04 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

#cnt01 .img09 {
  top: -40px;
  left: 1000px;
  width: 40px;
  -webkit-animation: bubble03 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
          animation: bubble03 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

#cnt01 .img10 {
  top: 0px;
  left: 1400px;
  width: 40px;
  -webkit-animation: bubble04 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
          animation: bubble04 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

#cnt01 .img11 {
  top: 0px;
  left: 200px;
  width: 70px;
  -webkit-animation: bubble03 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
          animation: bubble03 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

#cnt01 .img12 {
  top: -200px;
  left: 1200px;
  width: 70px;
  -webkit-animation: bubble04 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
          animation: bubble04 5s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

#cnt01 .img13 {
  top: -150px;
  left: -300px;
  width: 70px;
  -webkit-animation: bubble03 8s cubic-bezier(0, 0, 1, 1) infinite alternate;
          animation: bubble03 8s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

#cnt01 .img14 {
  top: -50px;
  left: -100px;
  width: 130px;
  -webkit-animation: bubble04 8s cubic-bezier(0, 0, 1, 1) infinite alternate;
          animation: bubble04 8s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

#cnt01 .img15 {
  top: 300px;
  left: 0px;
  width: 130px;
  -webkit-animation: bubble03 8s cubic-bezier(0, 0, 1, 1) infinite alternate;
          animation: bubble03 8s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

#cnt01 .img16 {
  top: 0px;
  left: 1100px;
  -webkit-animation: bubble04 10s cubic-bezier(0, 0, 1, 1) infinite alternate;
          animation: bubble04 10s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

#cnt01.fadeOn .img02 {
  left: 835px;
  opacity: 1;
}

#cnt01.fadeOn .img04, #cnt01.fadeOn .img03 {
  opacity: 1;
}

#cnt01.fadeOn .img04 {
  bottom: 30px;
}

#cnt01.fadeOn .img03 {
  bottom: 55px;
}

#cnt02 .bg2 {
  background: url("/img/web/cnt2_bg2.png") no-repeat center bottom;
  -webkit-transition: 1.5s background;
  transition: 1.5s background;
  background-size: 0px 0px;
}

#cnt02 .bg2:after {
  width: 241px;
  height: 361px;
  content: "";
  position: absolute;
  background: url("/img/web/cnt2_bg1.png");
  top: -50px;
  left: -225px;
  -webkit-animation: bubble01 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
          animation: bubble01 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
}

#cnt02 ul li img {
  position: relative;
  bottom: -40px;
  opacity: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#cnt02.J_fade.fadeOn ul li img {
  position: relative;
  bottom: 0px;
  opacity: 1;
}

#cnt02.fadeOn .bg2 {
  background-size: 729px 463px;
}

#cnt03:before {
  width: 241px;
  height: 361px;
  content: "";
  position: absolute;
  background: url("/img/web/cnt3_bg1.png");
  top: 0px;
  left: 1040px;
  -webkit-animation: bubble01 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
          animation: bubble01 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#cnt04 > div {
  background: #e6eef8;
}

#cnt04 .bg2:before {
  width: 241px;
  height: 361px;
  content: "";
  position: absolute;
  background: url("/img/web/cnt4_bg1.png");
  top: -115px;
  left: -100px;
  -webkit-animation: bubble01 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
          animation: bubble01 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
}

#cnt04 .img01 {
  bottom: -100px;
  left: 160px;
}

#cnt04 .img02 {
  right: 50px;
  top: -145px;
  -webkit-animation: duck01 2.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
          animation: duck01 2.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
}

#cnt04 ul li img {
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#cnt04.fadeOn ul li img {
  opacity: 1;
}

#cnt05 li {
  min-height: 100px;
  position: relative;
}

#cnt05 img {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -50px;
}

#cnt06 {
  height: 1440px;
  background: url("/img/web/cnt6_bg.png") no-repeat center;
}

#cnt06 .box01 {
  height: 493px;
  background: url("/img/web/cnt6_btm04.png") no-repeat center;
  width: 630px;
}

#cnt06 .txt01 {
  left: 0;
  top: 0;
}

#cnt06 .txt02 {
  top: 265px;
  right: 0;
}

#cnt06 .txt03 {
  left: 690px;
  bottom: 45px;
  background: url("/img/web/cnt6_top04.png") no-repeat -417px center;
  opacity: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
  /*ul li{line-height:37px;margin-top:1px}*/
}

#cnt06 .txt03 ul {
  height: 418px;
  background: url("/img/web/cnt6_top04_1.png") no-repeat center;
  opacity: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#cnt06 .txt03 ul li {
  width: 0;
  height: 0;
  overflow: hidden;
}

#cnt06 .img01 {
  left: 315px;
  bottom: 20px;
}

#cnt06 .img02 {
  left: 460px;
  bottom: 20px;
}

#cnt06 .bg2:after {
  width: 194px;
  height: 299px;
  content: "";
  position: absolute;
  background: url("/img/web/cnt6_btm01.png");
  bottom: 0;
  left: -360px;
}

#cnt06 .bg2:before {
  width: 374px;
  height: 298px;
  content: "";
  position: absolute;
  background: url("/img/web/cnt6_btm02.png");
  bottom: 0;
  left: 1185px;
}

#cnt06.fadeOn .txt03 {
  opacity: 1;
  background-position-x: 0;
}

#cnt06.fadeOn ul {
  opacity: 1;
}

#cnt07 #J_sw01 {
  height: 570px;
}

#cnt07 .swiper-slide {
  padding: 0 50px;
  opacity: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#cnt07 .swiper-slide div {
  border-radius: 300px;
  background: #e6eef8;
  height: 570px;
}

#cnt07 .swiper-slide[data-swiper-slide-index="0"] {
  opacity: 1;
}

#cnt07 .swiper-container {
  overflow: inherit;
}

#cnt07 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7.5px;
}

#cnt07 .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background: #d9d9d9;
}

#cnt07 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f19dc3;
  width: 45px;
  border-radius: 50px;
}

#cnt07 .swiper-container-horizontal > .swiper-pagination-bullets, #cnt07 .swiper-pagination-custom, #cnt07 .swiper-pagination-fraction {
  bottom: -50px;
}

#cnt07.fadeOn .swiper-slide {
  opacity: 1;
}

#cnt08 .img01 {
  bottom: -20px;
  left: 100px;
  opacity: 0;
}

#cnt08 li img, #cnt08 p img {
  opacity: 0;
}

#cnt08.fadeOn .img01 {
  left: 170px;
  opacity: 1;
}

#cnt08.fadeOn li img, #cnt08.fadeOn p img {
  opacity: 1;
}

#cnt09 {
  background: url("/img/web/cnt10_bg01.png") no-repeat center;
}

.sir_faq {
  height: 600px;
  border: 1px solid #4785cf;
  background: rgba(255, 255, 255, 0.8);
}

.sir_faq .J_tg_btn01 {
  background: url("/img/web/cnt10_icon02.png") no-repeat calc(100% - 60px) center;
}

.sir_faq .J_tg_btn01.on {
  background-image: url("/img/web/cnt10_icon01.png");
}

.sir_item_list_wrap {
  background-repeat: no-repeat, no-repeat;
  -webkit-animation: bubble02 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
          animation: bubble02 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
  background-image: url("/img/web/cnt11_icon02.png"), url("/img/web/cnt11_icon02.png");
}

.sir_cart_layer {
  position: absolute;
  width: 313px;
  top: 0;
  left: 0;
  font-family: "Noto Sans KR";
}

.cart-layer.sct_cartop {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 30px;
  display: table-cell;
  width: 313px;
  height: 312px;
  vertical-align: bottom;
  padding-bottom: 30px;
}

.cart-layer.sct_cartop .sct_cartop_wr form > * {
  display: block;
  width: 100%;
}

.cart-layer.sct_cartop .cartopt_oder_btn, .cart-layer.sct_cartop .cartopt_cart_btn {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  background: #ec70ac;
  margin-top: 10px;
}

.cart-layer.sct_cartop .cartopt_close_btn {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #000;
  background: #fff;
}

.cart-layer.sct_cartop .J_num {
  height: 50px;
}

.sir_label_ck {
  cursor: pointer;
  padding-left: 30px;
  background: url("/img/web/icon_ch.png") no-repeat left center;
  background-size: 20px;
  color: #000;
}

input[type="checkbox"]:checked + .sir_label_ck {
  background-image: url("/img/web/icon_chOn.png");
}

input[type="radio"]:checked + .sir_label_ck {
  background-image: url("/img/web/icon_chOn.png");
}

.sir_label_ck2 {
  cursor: pointer;
  padding-right: 30px;
  background: url("/img/web/icon_ch.png") no-repeat calc(100% - 1px) center;
  background-size: 18px;
  color: #000;
}

input[type="checkbox"]:checked + .sir_label_ck2 {
  background-image: url("/img/web/icon_chOn.png");
}

input[type="radio"]:checked + .sir_label_ck2 {
  background-image: url("/img/web/icon_chOn.png");
}

.sir_input_box02 {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 10px 30px;
  line-height: 30px;
}

.sir_input_box02 label {
  margin-right: 10px;
  color: #333;
}

.sir_input_box {
  border: 1px solid #bdbdbd;
  padding: 0 30px;
  height: 55px;
}

.sir_input_box > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 55px;
}

.sir_input_box label {
  margin-right: 10px;
  color: #333;
}

.sir_input01 {
  padding: 0 30px;
  height: 55px;
  padding: 0 30px !important;
}

.sir_input02 {
  padding: 0 30px;
  height: 55px;
  padding: 0 30px !important;
  line-height: 53px;
  border: 1px solid #bdbdbd;
  border-right: 0;
}

.sir_input03 {
  border: 1px solid #4785cf;
}

.sir_input03::-webkit-input-placeholder {
  color: #4785cf;
}

.sir_input03:-ms-input-placeholder {
  color: #4785cf;
}

.sir_input_btn {
  padding: 0;
  height: 55px;
  text-align: center;
  line-height: 53px;
  background: #4785cf;
  color: #fff;
  max-width: 120px;
  font-size: 13px;
}

.sir_label {
  margin-bottom: 15px;
  display: block;
}

@media only screen and (max-width: 640px) {
  .sir_label {
    font-size: 1.25rem;
  }
}

.sir_btn01 {
  width: 40px;
  height: 40px;
  border: 3px solid #ec70ac;
  text-align: center;
  -webkit-transition: 1s all;
  transition: 1s all;
  border-radius: 40px;
  line-height: 34px;
  background: #fff;
  overflow: hidden;
}

.sir_btn01 span.icon {
  width: 9px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  background: url("/img/web/arrow_left.png") no-repeat center;
  margin-top: 9px;
  position: relative;
  z-index: 60;
}

.sir_btn01 span.txt {
  color: #fff;
  font-size: 20px;
  -webkit-transition: 1s all;
  transition: 1s all;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -17px;
  opacity: 0;
}

.sir_btn01:hover, .sir_btn01:focus {
  background: #ec70ac;
  width: 140px;
  text-align: right;
  padding-right: 20px;
}

.sir_btn01:hover span.icon, .sir_btn01:focus span.icon {
  background: url("/img/web/arrow_leftOn.png") no-repeat center;
}

.sir_btn01:hover span.txt, .sir_btn01:focus span.txt {
  opacity: 1;
}

/*


.cs_benner{position: relative;top: 1px;background:url("/img/pc/cs_benner0.jpg") #000 no-repeat center;
    &.cs_notice{background: url("/img/pc/cs_benner1.jpg") #000 no-repeat center;}
    &.cs_qna{background: url("/img/pc/cs_benner2.jpg") #000 no-repeat center;}
    &.cs_reviewP{background: url("/img/pc/cs_benner3.jpg") #000 no-repeat center;}
    &.cs_reviewH{background: url("/img/pc/cs_benner4.jpg") #000 no-repeat center;}
}
.cs_benner img{position: relative;transition:0.5s all;left:0}
.cs_benner a:hover img{left:20px;
    @include respond-to(handhelds) {left:0}
}

.sir_bd_top01{border-top: 1px solid $set_color01;}
.sir_bd_top02{border-top: 2px solid $set_color01}
.sir_bd_top03{border-top: 3px solid $set_color01}

.sir_bd_top11{border-top: 1px solid #bdbdbd}
.sir_bd_top12{border-top: 2px solid #bdbdbd}
.sir_bd_top13{border-top: 3px solid #bdbdbd} 

.sir_bd_top21{border-top: 1px solid #d9d9d9}
.sir_bd_top22{border-top: 2px solid #d9d9d9}
.sir_bd_top23{border-top: 3px solid #d9d9d9} 
.sir_bd_top24{border-top: 1px dashed #d9d9d9} 

.sir_bd_btm11{border-bottom: 1px solid #bdbdbd}
.sir_bd_btm12{border-bottom: 2px solid #bdbdbd}
.sir_bd_btm13{border-bottom: 3px solid #bdbdbd}

.sir_bd_btm21{border-bottom: 1px solid #d9d9d9}
.sir_bd_btm22{border-bottom: 2px solid #d9d9d9}
.sir_bd_btm23{border-bottom: 3px solid #d9d9d9}
.sir_bd_btm24{border-bottom: 1px dashed #d9d9d9}

.sir_bd_all01{border:1px solid $set_color01}

.sir_bd_all11{border:1px solid #bdbdbd}
.sir_bd_all21{border:1px solid #d9d9d9}
.sir_bg01{background:$set_color01}
.sir_ftc01{color:$set_color01}
.sir_ftc02{color:#ff9b34}
.sir_rd01{border-radius: 5px;}
.sir_rd02{border-radius: 0 4px 4px 0;}


.sir_a_hover01 a:hover,.sir_a_hover01 a:focus{background:#fa583c;color:#fff}

.sir_btn02{height:40px;width:85px;line-height:38px;border:1px solid #d9d9d9;font-size:15px}
.sir_btn03{background:#ff9735!important;color:#fff!important;
    @include respond-to(medium-screens) {width:58px;} 
    @include respond-to(wide-screens) {width:58px;}
}
.sir_btn04{height:20px;line-height:20px;padding:0 20px;font-size:13px;color:#fff;border-radius: 20px;background: #989898;display:inline-block}
.sir_btn04.on{background: #f7954c;}

.sir_btn05{height:30px;line-height:30px;padding:0 30px;font-size:17px;color:#fff;border-radius: 30px;background: #989898;}
.sir_btn05.on{background: #f7954c;}
.sir_btn06{border:1px solid #ff9735;color:#ff9735}
.sir_btn06.on{background:#ff9735;color:#fff}

.sir_btn07{border:1px solid #fa583c;color:#fa583c}
.sir_btn07.on{background:#fa583c;color:#fff}

.sir_btn08{border:1px solid #fe8a36;color:#fe8a36}
.sir_btn08.on{background:#fe8a36;color:#fff}

.sir_btn09{border:1px solid #bdbdbd;color:#777}
.sir_btn09.on{background:#bdbdbd;color:#fff}
.sir_btn10{
    span{position:relative;
        &:after{content:"";display:block;position: absolute;bottom:5px;left:calc(100% + 5px);width:10px;height:10px;border-radius: 50%;background:$set_color01;}
    }
}

.sir_bd_wd01{border-left:1px dashed #d9d9d9;border-right: 1px dashed #d9d9d9}

.sir_btn11{color:#fff;border:1px solid #fff;} 
.sir_top02{top:2px}

.U_benner {background:  no-repeat center;height:250px;
    &.set_sub01,&.set_sub09{background-image: url("/img/pc/subBenner_event.jpg");}
    &.set_sub02{background-image: url("/img/pc/subBenner_cs.jpg");}
    &.set_sub03,&.set_sub04,&.set_sub05{background-image: url("/img/pc/subBenner_member.jpg");}
    &.set_sub06,&.set_sub07,&.set_sub08{background-image: url("/img/pc/subBenner_py.jpg");}

}

.sir_modal{background: rgba(0, 0, 0, 0.3);position: fixed;top:0;left: 0;height: 100%;width: 100%;z-index:90}
.sir_box_sd{box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);}

.sir_fregister::before{content:"";position: absolute;display: block;width:100%;border-radius: 20px;left:0;background: #f6f6f6;
    top:50px;height:calc(100% - 50px);
}
.sir_fregister * {position: relative;}  

.U_siteMap{position: fixed;top:0;left:0;overflow: auto;background: rgba(0, 0, 0, 0.3);width: 100%;height: 100%;z-index:90;
    .U_site_con{float:right;height:100%;overflow:auto;max-width:640px;width:100%;position: relative;}
    .U_btm_stieMap2{position:absolute;left:0;right:0;height:100%;width:100%}
} 

.sir_text_bg{}
.sir_text_bg01{}
.sir_text_bg02{}
.sir_text_bg03{}
.sir_text_bg04{}
.sir_text_bg05{}
.sir_text_bg06{}
.sir_text_bg07{}


.mb_info{position:absolute;bottom: 110%;border-radius: 3px;box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.15);left:0;right:0;margin-left:-170px;
    @include respond-to(medium-screens) {left: 110%;margin-left: 0;top: 50%;margin-top: -150px;clear: both;height: 300px;z-index: 80;}
    @include respond-to(handhelds) {left:0;margin-left:0;z-index:80}
}
a:hover + .mb_info{display:block}
.mb_info:after{width:30px;position: absolute;bottom:-25px;content: "";display: block;border-top:25px solid #fff;border-right:25px solid transparent;border-left:25px solid transparent;left:0;right:0;margin:0 auto;
    @include respond-to(medium-screens){display:none}
    @include respond-to(handhelds) {display:none}
}

.sir_calendar{width:640px;margin:0 auto;color:#000;
    table{width:100%;text-align:center;border-collapse: collapse;}
    @include respond-to(handhelds) {width:100%}
}
.sir_calendar .datelist{color:#fff;
    div{padding:20px 0;background:$set_color01;padding:20px 0 ;height:auto}
    > *:first-child div{border-radius: 10px 0 0 0;}
    > *:last-child div{border-radius: 0 10px 0  0;}
    *{color:#fff}
    @include respond-to(handhelds) {}
}
.sir_calendar tr {
    .on > div {background:url("/img/m/Attendance_circle.png")no-repeat center;background-size:100%;
        span{color:#ff9b34;font-size:22px;top:-2px;
            @include respond-to(handhelds) {font-size:3.4375vw}
            }
        }
    .point div{border:3px solid #fa583c;color:#fa583c;line-height:1!important;text-align:left;padding-left:10%;padding-top:15%;font-size:22px;
        @include respond-to(handhelds){font-size:3.4375vw}
        > span {display:block}    
        > span >span {font-size:16px;display:block;
        @include respond-to(handhelds) {font-size:2.5vw}
    }
       > span >span span{font-size:13px;
        @include respond-to(handhelds) {font-size:2.03125vw}
    }
    }
    .uplevel div{position: relative;
        &:after{content:"";position:absolute;display:block;height:17px;width:19px;right:5px;top:5px;background: url("/img/m/Attendance_star1.png")no-repeat center;background-size: cover;
            @include respond-to(handhelds) {width:2.96875vw;height:2.65625vw}
        }
    }

    td.sc_day:first-child{color:#db1b1b}
    td.sc_day:last-child{color:#1972ce}

    .sc_day > div > div{height:70px;line-height:70px;width:70px;margin:0 auto;
        @include respond-to(handhelds) {width:90%;height:10.6vw;line-height:10.6vw}
    }
    .sc_day > div {padding:5px 0}
    > *:last-child,> *:first-child {width:16.25%}
    > * {width: 13.5%;padding:0;}

    > *:first-child >div{border-left:1px solid #d9d9d9;padding-left:17.35%;}
    > *:last-child >div{border-right:1px solid #d9d9d9;padding-right: 17.35%;}
    
    &:first-child td > div{border:0}
    &:nth-child(2) td>div{padding-top:40px}
    &:last-child td>div{border-bottom:1px solid #d9d9d9;padding-bottom:80px}
    
    &:last-child > *:first-child >div{border-radius: 0 0 0 10px;}
    &:last-child > *:last-child >div{border-radius:0 0 10px  0;}

}

.sir_cal_tit{font-size: 150px;position:relative;top:-30px;
    > span {top:80px;}
    span span{font-size:60px;top:20px;right:-84px}
    @include respond-to(handhelds) {
        font-size:7rem;
        > span {top:11.5vw;}
        span span{font-size:3.7rem;top:14%;right:-44%}
    }
}

#captcha.m_captcha audio{width:100%;margin: 0 0 10px 0}
#captcha.m_captcha #captcha_img{margin:0;height:40px;float:left;border:1px solid #bdbdbd;margin-bottom: 10px;}
#captcha.m_captcha #captcha_key{margin:0;height:40px;float:left;border:1px solid #bdbdbd;border-right:0;border-left:0;border-radius: 0;margin-bottom: 10px;width:calc(100% - 200px)}
#captcha.m_captcha #captcha_reload{float:left;margin-bottom: 10px;border-radius: 0;}
#captcha.m_captcha #captcha_info{clear:both;display:block}
#captcha.m_captcha{display:block} 
*/
/*# sourceMappingURL=bebemumu.css.map */