@charset "UTF-8";
/*sass 변수 모음*/
/*mixin and function 모음*/
/*SCSS*/
@-webkit-keyframes mymove {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes mymove {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1024px) {
  body {
    min-width: 1250px;
    overflow-x: hidden;
  }
  body.sm_wraps:after {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.2);
    z-index: 90;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  body {
    padding-top: 91px;
  }
}

@media only screen and (max-width: 640px) {
  body {
    padding-top: 15vw;
  }
}

.sir_cl01 {
  color: #f26522;
}

.sir_bg01 {
  background: #f26522;
}

.sir_hv01:hover, .sir_hv01focus {
  background: #f26522;
  color: #fff;
}

.sir_cl02 {
  color: #f7931d;
}

.sir_bg02 {
  background: #f7931d;
}

.sir_hv02:hover, .sir_hv02focus {
  background: #f7931d;
  color: #fff;
}

.sir_cl03 {
  color: #ff7800;
}

.sir_bg03 {
  background: #ff7800;
}

.sir_bd03 {
  border-color: #ff7800;
}

.sir_hv03:hover, .sir_hv03focus {
  background: #ff7800;
  color: #fff;
}

.sir_cl04 {
  color: #f8931d;
}

.sir_bg04 {
  background: #f8931d;
}

.sir_bd04 {
  border-color: #f8931d;
}

.sir_hv04:hover, .sir_hv04focus {
  background: #f8931d;
  color: #fff;
}

.sir_hv_Cft01 a:hover, .sir_hv_Cft01 button:hover, .sir_hv_Cft01.on {
  color: #f26522;
}

.sir_bd_all02 {
  border: 1px solid #f7931d;
}

.sir_hv_bg02:hover, .sir_hv_bg02:focus {
  background: #f7931d;
}

.sir_icon_aw01 {
  background: url("/img/icon_aw02On.png") no-repeat;
  background-position: calc(100% - 20px);
  background-size: 17px auto;
}

.sir_icon_aw01.on {
  background-image: url("/img/icon_aw02.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  background-size: 17px auto;
}

.sir_icon02 {
  width: 18px;
  height: 18px;
  position: absolute;
  background: url("/img/icon_more02.png") no-repeat center;
}

.J_tab_btn + .sir_icon02 {
  display: none;
}

.J_tab_btn.U_ft_c000 + .sir_icon02 {
  display: block;
}

.sir_icon04 {
  position: absolute;
  border-top: 60px solid #f7931d;
  border-left: 60px solid transparent;
  z-index: 99;
  right: -1px;
  top: -1px;
}

.sir_icon04 img {
  position: absolute;
  left: -25px;
  top: -45px;
}

.set_sir_icon04:hover .sir_icon04 img {
  -webkit-animation: mymove 1s infinite linear;
          animation: mymove 1s infinite linear;
}

.sir_icon05 {
  background: url("/img/sir_icon04.png") no-repeat left center;
  background-size: auto 100%;
}

.sir_icon06 {
  position: relative;
}

.sir_icon06 > span:before {
  content: "";
  display: block;
  position: absolute;
  width: 105%;
  left: -2.5%;
  height: 60%;
  bottom: -10%;
  background: #ffea00;
}

.sir_icon06 span {
  position: relative;
}

.sir_icon07 {
  padding-left: 20px;
  position: relative;
}

.sir_icon07:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  width: 10px;
  height: 1px;
  background: #ff7800;
}

.sir_icon08 {
  position: relative;
}

.sir_icon08:after {
  content: "";
  position: absolute;
  left: -7.5px;
  top: 50%;
  margin-top: -7.5px;
  width: 15px;
  height: 15px;
  border: 1px solid #ff7800;
  border-radius: 50%;
}

.sir_lat01 li {
  padding-left: 15px;
  position: relative;
}

.sir_lat01 li:before {
  width: 4px;
  height: 4px;
  background: #000;
  content: "";
  clear: both;
  display: block;
  left: 0;
  top: 50%;
  margin-top: -2px;
  position: absolute;
}

#sir_hd {
  border-bottom: 1px solid #d9d9d9;
}

#sir_hd:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 101px;
  left: 0;
  z-index: 80;
  -webkit-transition: 1s height;
  transition: 1s height;
}

#sir_hd.nav:after {
  height: 367px;
  background: url("/img/nav_bg01.jpg") no-repeat center top;
  border-bottom: 1px solid #d9d9d9;
}

@media only screen and (max-width: 1023px) {
  #sir_hd {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 150;
    background: #fff;
  }
}

.sir_nav {
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .sir_nav ul:after {
    content: "";
    clear: both;
    display: block;
  }
  .sir_nav .J_gnb > ul > li > a {
    padding: 40px 40px;
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: 500;
  }
  .sir_nav .J_gnb > ul > li > a.on, .sir_nav .J_gnb > ul > li > a :hover, .sir_nav .J_gnb > ul > li > a :focus {
    color: #f26522;
  }
  .sir_nav .J_gnb > ul > li {
    float: left;
  }
  .sir_nav .J_gnb > ul > li > ul {
    position: absolute;
    width: 100%;
    left: 0;
    background: #fff;
    padding: 50px 0 50px 290px;
    z-index: 90;
    min-height: 366px;
    top: 101px;
    display: none;
  }
  .sir_nav .J_gnb > ul > li > ul > li {
    float: left;
    width: 33.333%;
    padding-left: 30px;
  }
  .sir_nav .J_gnb .dep1 > a {
    display: block;
    display: block;
    width: 100%;
    height: 55px;
    line-height: 53px;
    border: 1px solid #d9d9d9;
    font-size: 17px;
    color: #000;
    padding-left: 30px;
  }
  .sir_nav .J_gnb .dep1 > a:hover, .sir_nav .J_gnb .dep1 > a:focus {
    color: #f26522;
    border: 2px solid #f26522;
    line-height: 51px;
  }
  .sir_nav .J_gnb .dep1 > a.icon_aw01 {
    background: url("/img/icon_aw01.png") no-repeat;
    background-position: calc(100% - 20px);
    background-size: 17px auto;
  }
  .sir_nav .J_gnb .dep1 > a.icon_aw01:hover, .sir_nav .J_gnb .dep1 > a.icon_aw01:focus {
    background-image: url("/img/icon_aw01On.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
  }
  .sir_nav .dep1:hover > a.icon_aw01 {
    background-image: url("/img/icon_aw01On.png");
    background-size: 17px auto;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    border: 2px solid #f26522;
    color: #f26522;
    line-height: 53px;
  }
  .sir_nav .J_gnb .dep1 > ul {
    padding: 20px 0 0 30px;
  }
  .sir_nav .J_gnb .dep1 > ul > li {
    padding-top: 15px;
    font-size: 15px;
    color: #999;
  }
  .sir_nav .J_gnb .dep1 > ul > li > a {
    display: block;
    padding-left: 6px;
    position: relative;
  }
  .sir_nav .J_gnb .dep1 > ul > li > a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 3px;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #999;
  }
  .sir_nav .J_gnb .dep1 > ul > li > a:hover {
    color: #000;
  }
  .sir_nav .J_gnb .dep1 > ul > li > a:hover:before {
    background: #000;
  }
  .sir_nav .J_gnb .dep1 > ul > li:first-child {
    padding-top: 0;
  }
  .sir_nav .J_gnb > ul > li > ul > li:nth-child(n+4):nth-child(-n+6) {
    margin-top: 30px;
  }
  .sir_nav .J_gnb > ul > li > ul:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 260px;
    padding-top: 50px;
    font-size: 30px;
    color: #000;
    font-weight: 700;
    background: #f5f5f5;
  }
  .sir_nav .J_gnb > ul > li:nth-child(1) > ul:before {
    content: "센터소개";
  }
  .sir_nav .J_gnb > ul > li:nth-child(2) > ul:before {
    content: "센터소식";
  }
  .sir_nav .J_gnb > ul > li:nth-child(3) > ul:before {
    content: "알림마당";
  }
  .sir_nav .J_gnb > ul > li:nth-child(4) > ul:before {
    content: "정보공개";
  }
  .sir_nav .J_gnb > ul > li > ul > li:nth-child(1)::before {
    display: block;
    position: absolute;
    left: 0;
    top: 95px;
    font-size: 16px;
    color: #999;
    font-weight: 700;
  }
  .sir_nav .J_gnb > ul > li:nth-child(1) > ul > li:nth-child(1):before {
    content: "Center Introduction";
  }
  .sir_nav .J_gnb > ul > li:nth-child(2) > ul > li:nth-child(1):before {
    content: "Center News";
  }
  .sir_nav .J_gnb > ul > li:nth-child(3) > ul > li:nth-child(1):before {
    content: "Notification";
  }
  .sir_nav .J_gnb > ul > li:nth-child(4) > ul > li:nth-child(1):before {
    content: "Information disclosure";
  }
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .sir_nav {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .sir_nav {
    display: none;
  }
}

.J_gnb .dep1 > a, #J_sm_wrap .dep1 > a {
  position: relative;
}

.J_gnb .dep1 > a:not(.icon_aw01):after, #J_sm_wrap .dep1 > a:not(.icon_aw01):after {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 1px;
  background: #999;
  right: 20px;
  top: 50%;
  margin-top: -0.5px;
}

.J_gnb .dep1 > a:not(.icon_aw01):hover:after, #J_sm_wrap .dep1 > a:not(.icon_aw01):hover:after {
  background: #f26522;
}

#J_op_sm {
  text-align: right;
  width: 40px;
  height: 40px;
  margin-top: 24px;
  position: relative;
}

#J_op_sm .icon {
  height: 2px;
  background: #000;
  height: 2px;
  display: inline-block;
  background: #000;
  vertical-align: top;
  float: right;
}

#J_op_sm .icon01 {
  width: 100%;
}

#J_op_sm .icon02 {
  width: 68%;
}

#J_op_sm .icon03 {
  width: 48%;
}

#J_op_sm .icon {
  margin-top: 9px;
}

#J_op_sm.on .icon {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

#J_op_sm.on .icon01 {
  display: none;
}

#J_op_sm.on .icon02 {
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#J_op_sm.on .icon03 {
  width: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (min-width: 1024px) {
  #J_op_sm {
    margin-top: 32px;
    width: 35px;
    height: 35px;
    margin-left: 40px;
  }
}

@media only screen and (max-width: 640px) {
  #J_op_sm {
    width: 6.5104166666667vw;
    height: 6.5104166666667vw;
  }
  #J_op_sm .icon {
    margin-top: calc( (100% - 8px) / 3);
  }
}

#J_sm_wrap {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  overflow: auto;
  max-height: 100%;
}

#J_sm_wrap .sm_con {
  padding-bottom: 60px;
}

#J_sm_wrap .sm_con .J_close {
  background: #fff;
  position: relative;
  z-index: 92;
}

#J_sm_wrap .J_sm > ul > li > a {
  display: block;
  color: #000;
  font-weight: 500;
}

#J_sm_wrap .J_sm > ul:after {
  content: '';
  clear: both;
  display: block;
}

#J_sm_wrap .J_sm > ul > li {
  float: left;
}

#J_sm_wrap .dep1 > a {
  display: block;
  border: 1px solid #d9d9d9;
  color: #000;
}

#J_sm_wrap .dep1 > ul > li > a {
  display: block;
  padding-left: 6px;
  position: relative;
}

#J_sm_wrap .dep1 > ul > li > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
  width: 3px;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #999;
}

#J_sm_wrap .dep1 > ul > li > a:hover {
  color: #000;
}

#J_sm_wrap .dep1 > ul > li > a:hover:before {
  background: #000;
}

#J_sm_wrap .dep1 > ul {
  padding: 5px 7.4% 10px;
}

#J_sm_wrap .dep1 > ul li {
  padding-top: 15px;
}

@media only screen and (max-width: 1023px) {
  #J_sm_wrap .dep1 > a {
    padding: 20px 15px;
  }
}

#J_sm_wrap .dep1 > a:hover, #J_sm_wrap .dep1 > afocus {
  border: 2px solid #f26522;
  color: #f26522;
}

#J_sm_wrap .dep1 > a.icon_aw01 {
  background: url("/img/icon_aw01.png") no-repeat calc(100% - 20px) center;
  background-size: 17px auto;
}

#J_sm_wrap .dep1 > a.icon_aw01:hover, #J_sm_wrap .dep1 > a.icon_aw01:focus {
  background-image: url("/img/icon_aw01On.png");
  background-size: 17px auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}

#J_sm_wrap .dep1 > a.icon_aw01_1 {
  background: url("/img/icon_aw012.jpg") no-repeat calc(100% - 20px) center;
  background-size: 17px auto;
}

#J_sm_wrap .dep1 > a.icon_aw01_1:hover, #J_sm_wrap .dep1 > a.icon_aw01_1:focus {
  background: url("/img/icon_aw01On2.jpg") no-repeat calc(100% - 20px) center;
  background-size: 17px auto;
}

#J_sm_wrap .dep1:hover > a.icon_aw01 {
  background-image: url("/img/icon_aw01On.png");
  background-size: 17px auto;
  border: 2px solid #f26522;
  color: #f26522;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}

@media only screen and (min-width: 1024px) {
  #J_sm_wrap .dep1:hover > a.icon_aw01 {
    line-height: 53px;
  }
}

#J_sm_wrap .J_close02 {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  #J_sm_wrap {
    background: #fff;
    min-width: 1250px;
  }
  #J_sm_wrap .J_sm > ul > li {
    width: 270px;
    margin-left: 50px;
  }
  #J_sm_wrap .J_sm > ul > li:first-child {
    margin-left: 0;
  }
  #J_sm_wrap .J_sm > ul > li > a {
    font-size: 20px;
    margin-top: 40px;
  }
  #J_sm_wrap .J_sm > ul {
    padding: 0 10px;
  }
  #J_sm_wrap .dep1 > a {
    margin-top: 20px;
    font-size: 17px;
    padding: 0 30px;
    height: 55px;
    line-height: 53px;
  }
  #J_sm_wrap .dep1 > a:hover, #J_sm_wrap .dep1 > a:focus {
    line-height: 51px;
  }
}

@media only screen and (max-width: 1023px) {
  #J_sm_wrap {
    height: 100%;
    position: fixed;
  }
  #J_sm_wrap .sm_con {
    height: 100%;
  }
  #J_sm_wrap .J_close02 {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
  }
  #J_sm_wrap .sm_con > div {
    float: right;
    max-width: 520px;
    width: 86%;
    background: #fff;
    height: 100%;
    position: relative;
    z-index: 99;
    overflow: auto;
  }
  #J_sm_wrap .J_sm {
    padding: 10% 0;
  }
  #J_sm_wrap .J_sm > ul > li {
    float: none;
  }
  #J_sm_wrap .J_sm > ul > li ul {
    display: none;
  }
  #J_sm_wrap .J_sm > ul > li ul.on {
    display: block;
  }
  #J_sm_wrap .J_sm > ul > li > a {
    font-size: 1.8rem;
    margin-top: 10%;
  }
  #J_sm_wrap .J_sm > ul > li:first-child > a {
    margin-top: 0;
  }
  #J_sm_wrap .dep1 > ul {
    padding: 0 2%;
    font-size: 1rem;
  }
  #J_sm_wrap .dep1 > a {
    margin-top: 20px;
    font-size: 1.125rem;
    padding: 15px 3%;
  }
}

#cnt1 .list1 {
  background: url("/img/pc/main_visual01.jpg") no-repeat center;
}

#cnt1 .list2 {
  background: url("/img/pc/main_visual02.jpg") no-repeat center;
}

#cnt1 .list3 {
  background: url("/img/pc/main_visual03.jpg") no-repeat center;
}

@media only screen and (min-width: 1024px) {
  #cnt1 .swiper-container {
    height: 700px;
  }
}

#cnt1 .swiper_btns {
  position: absolute;
  bottom: 10%;
  color: #000;
}

#cnt1 .swiper-pagination-bullet span {
  width: 0px;
  max-width: 100px;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  position: relative;
  color: transparent;
}

#cnt1 .swiper-pagination-bullet span:after {
  content: "";
  top: 50%;
  width: 0%;
  height: 1px;
  position: absolute;
  display: block;
  left: 0;
  margin-top: -0.5px;
  -webkit-transition: 3s all;
  transition: 3s all;
  background: #000;
}

#cnt1 .swiper-pagination-bullet-active span {
  margin-left: 30px;
  width: 100px;
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  #cnt1 .swiper-pagination-bullet-active span {
    width: 70px;
  }
}

@media only screen and (max-width: 640px) {
  #cnt1 .swiper-pagination-bullet-active span {
    width: 70px;
  }
}

#cnt1 .swiper-pagination-bullet-active span:after {
  width: 100%;
}

#cnt1 .swiper-pagination-bullet-active {
  background: none;
}

#cnt1 .swiper-pagination-bullet {
  width: auto;
  height: auto;
}

#cnt1 .swiper-pagination-bullet {
  background: none;
  opacity: 1;
  font-weight: 700;
  margin-right: 30px;
}

@media only screen and (max-width: 640px) {
  #cnt1 .swiper-pagination-bullet {
    margin-right: 15px;
  }
}

#cnt1 .swiper-pagination {
  position: static;
  display: inline-block;
  vertical-align: middle;
}

#cnt1 .sw_auto_tg {
  width: 30px;
  height: 30px;
  background: url("/img/m/slider_stop.png") no-repeat center;
  background-size: 20px;
}

#cnt1 .sw_auto_tg.on {
  background-image: url("/img/m/slider_play.png");
  background-size: 20px;
}

#main_sw .swiper-pagination-bullet, .late_gallery .swiper-pagination-bullet {
  opacity: 0.2;
  width: 10px;
  height: 10px;
  vertical-align: top;
  background: #c8c8c8;
  opacity: 1;
}

#main_sw .swiper-pagination-bullet-active, .late_gallery .swiper-pagination-bullet-active {
  background: #f7931d;
  width: 40px;
  height: 3px;
  border-radius: 0;
  opacity: 1;
  margin-top: 3.5px;
}

#main_sw .sw_auto_btn, .late_gallery .sw_auto_btn {
  width: 10px;
  height: 10px;
  background: url("/img/icon_stop02.png") no-repeat center;
}

#main_sw .sw_auto_btn.on, .late_gallery .sw_auto_btn.on {
  background-image: url("/img/icon_start02.png");
}

.mainMap .mapCon li button {
  opacity: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mainMap .mapCon li button:hover, .mainMap .mapCon li button:focus, .mainMap .mapCon li button.on {
  opacity: 1;
}

.sw_ps_btn button {
  width: 8px;
  height: 8px;
  vertical-align: top;
}

.sw_ps_btn .sw_auto_pv {
  background: url("/img/icon_prev01.png") no-repeat center;
}

.sw_ps_btn .sw_auto_nx {
  background: url("/img/icon_next01.png") no-repeat center;
}

.sw_ps_btn .sw_auto_btn {
  background: url("/img/icon_stop02.png") no-repeat center;
  margin: 0 3px;
}

.sw_ps_btn .sw_auto_btn.on {
  background-image: url("/img/icon_start02.png");
}

#sir_snb_list a {
  display: block;
}

#sir_snb_list .dep1:last-child > a {
  border-bottom: 1px solid #d9d9d9;
}

#sir_snb_list .dep1 > a {
  padding: 20px 25px;
  font-size: 15px;
  color: #000;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
}

#sir_snb_list .dep1 > a:hover, #sir_snb_list .dep1 > a:focus, #sir_snb_list .dep1 > a.on {
  background: #ff7800;
  color: #fff;
  border-color: #ff7800;
}

#sir_snb_list .dep1 > a.icon_aw01 {
  background-image: url("/img/icon_snb02.png");
  background-position: calc(100% - 25px);
  background-repeat: no-repeat;
}

#sir_snb_list .dep1 > a.icon_aw01:hover {
  background-image: url("/img/icon_snb03.png");
}

#sir_snb_list .dep1 > a.icon_aw01.on, #sir_snb_list .dep1 > a.icon_aw01.on:hover {
  background-image: url("/img/icon_snb01.png");
}

#sir_snb_list .dep1 > ul {
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  padding: 12.5px 0;
  display: none;
  font-size: 14px;
}

#sir_snb_list .dep1 > a.on + ul {
  display: block;
  border-top: 0;
}

#sir_snb_list .dep1 > ul a {
  padding: 7.5px 0 7.5px 40px;
  position: relative;
  color: #777;
}

#sir_snb_list .dep1 > ul a:after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  left: 25px;
  top: 50%;
  margin-top: -1.5px;
  background: #777;
}

#sir_snb_list .dep1 > ul a:hover:after, #sir_snb_list .dep1 > ul a.on:after {
  background-color: #ff7800;
}

#sir_snb_list .dep1 > ul a:hover, #sir_snb_list .dep1 > ul a.on {
  color: #ff7800;
}

.sir_page_wrap .pg {
  font-size: 0;
}

.sir_page_wrap .pg_page, .sir_page_wrap .pg_current {
  border-radius: 0;
  font-size: 13px;
  position: relative;
  border-color: #d9d9d9;
  background-color: #fff;
}

.sir_page_wrap .pg_current {
  display: inline-block;
  background-color: #f8931d;
  border-color: #f8931d;
  color: #fff;
  font-weight: bold;
  height: 35px;
  line-height: 33px;
  min-width: 35px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 0px #222542;
          box-shadow: inset 0px 0px 0px #222542;
}

.sir_page_wrap .pg_current {
  z-index: 90;
}

.sir_page_wrap .pg_page:hover {
  background-color: #f8931d;
  border-color: #f8931d;
  color: #fff;
}

.sir_page_wrap .pg .list_page {
  border-left-width: 0;
}

.sir_page_wrap .pg .use {
  border-left-width: 1px;
  margin-left: 10px;
}

.sir_page_wrap .pg_prev, .sir_page_wrap .pg_end, .sir_page_wrap .pg_next, .sir_page_wrap .pg_start {
  text-indent: 0;
  overflow: hidden;
  background: none;
  padding: 0;
  border: 1px solid #d9d9d9;
  width: 70px;
  background: #fff;
}

.sir_page_wrap .pg_prev:hover, .sir_page_wrap .pg_end:hover, .sir_page_wrap .pg_next:hover, .sir_page_wrap .pg_start:hover {
  background-color: #f8931d;
  color: #fff;
}

.sir_page_wrap .pg_next, .sir_page_wrap .pg_end {
  margin-left: 10px;
}

.sir_page_wrap .pg_next + .pg_end {
  margin-left: 0;
  border-left: 0;
}

.sir_page_wrap .pg_start + .pg_prev {
  border-left-width: 0;
}

@media only screen and (max-width: 640px) {
  .sir_page_wrap .pg_start + .pg_prev {
    border-left-width: 1px;
  }
}

.sir_page_wrap .pg_wrap {
  float: none;
}

.sir_table {
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
}

.sir_table table {
  border-collapse: collapse;
}

.sir_table th {
  background: #f9f9f9;
  font-weight: 400;
  color: #000;
}

.sir_table td {
  color: #666;
}

.sir_table td, .sir_table th {
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sir_table tr > *:first-child {
  border-left: 0;
}

.sir_table tr:last-child > * {
  border-bottom: 0;
}

.U_ft_c000_span span {
  color: #000;
}
/*# sourceMappingURL=v1365.css.map */