@charset "UTF-8";
/*sass 변수 모음*/
/*mixin and function 모음*/
/*SCSS*/
body.bd_main {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 640px) {
  body.bd_main {
    background-size: auto 100%;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  body.bd_main {
    background-size: auto 100%;
  }
}

body.bd_main #ft {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #fff;
}

body.bd_main #hd {
  background: none;
  border: 0;
  color: #fff;
}

body.bd_main #container {
  height: 100%;
  display: table;
  height: 100%;
}

body.bd_main .U_bd_C01 > * {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body.bd_main .U_pc_nav {
  color: #fff;
}

body.bd_main .U_line01 {
  background: #fff;
}

body.bd_main .U_pc_nav a:hover, body.bd_main .U_pc_nav a:focus {
  color: #fff;
}

body.bd_main .U_pc_nav a:after {
  background: #fff;
}

body.bd_main .U_btn02 {
  border-color: #fff;
}

body.bd_main .U_btm_mypage {
  background: url("/img/m/Top_Mypage.png") no-repeat center;
  background-size: 40% auto;
}

body.bd_main .U_btm_stieMap {
  background: url("/img/m/Top_Menu.png") no-repeat center;
  background-size: 40% auto;
}

body.bd_main .U_btm_stieMap.on {
  background: url("/img/m/Top_Menu_close.png") no-repeat center;
  background-size: 40% auto;
}

body.type1 {
  background-image: url("/img/pc/main_bg1.jpg");
}

body.type2 {
  background-image: url("/img/pc/main_bg2.jpg");
}

body.type3 {
  background-image: url("/img/pc/main_bg3.jpg");
}

body.type4 {
  background-image: url("/img/pc/main_bg4.jpg");
}

body.type5 {
  background-image: url("/img/pc/main_bg5.jpg");
}

body.type6 {
  background-image: url("/img/pc/main_bg6.jpg");
}

body.type7 {
  background-image: url("/img/pc/main_bg7.jpg");
}

body.type8 {
  background-image: url("/img/pc/main_bg8.jpg");
}

#ft, #hd {
  background: #fff;
}

#ft {
  border-top: 1px solid #d9d9d9;
  letter-spacing: -0.3px;
}

#hd {
  border-bottom: 1px solid #d9d9d9;
}

@media only screen and (min-width: 1024px) {
  #U_logo {
    width: 128px;
    margin-top: 9.5px;
  }
}

.U_line01 {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  width: 1px;
  height: 13px;
  background: #777;
  position: relative;
  top: 4px;
}

.U_bd_C01 > * {
  border: 1px solid #bdbdbd;
}

.U_bg_C01 {
  background: #fa583c;
}

.U_bx_sh01 {
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.U_ft01 {
  letter-spacing: 3px;
  font-weight: 700;
}

.U_btn01 {
  border-radius: 7px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.U_btn02 {
  border: 1px solid #bdbdbd;
  width: 48px;
  height: 48px;
}

.U_pc_nav a:hover, .U_pc_nav a:focus {
  color: #fa583c;
}

.U_pc_nav a:hover:after, .U_pc_nav a:focus:after {
  width: 100%;
}

.U_pc_nav a {
  position: relative;
}

.U_pc_nav a:after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 0%;
  top: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #fa583c;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.U_btm_mypage {
  background: url("/img/m/Top_Mypage_sub.png") no-repeat center;
  background-size: 40% auto;
}

.U_btm_stieMap {
  background: url("/img/m/Top_Menu_sub.png") no-repeat center;
  background-size: 40% auto;
}

.U_btm_stieMap.on {
  background: url("/img/m/icon_Close.png") no-repeat center;
  background-size: 40% auto;
}

/*bd skin*/
.sir_bd_cate li {
  background: #f3f3f3;
}

.sir_bd_cate a {
  display: block;
}

.sir_bd_cate li.on {
  background: #fa583c;
  color: #fff;
}

.sir_bd_list01 {
  border-top: 1px solid #d9d9d9;
}

.sir_bd_list01 > li {
  border-bottom: 1px solid #d9d9d9;
  background: url("/img/m/List_arrow.png") no-repeat;
  background-position: calc(100% - 30px) center;
  background-size: 17px auto;
}

.sir_bd_list01 .list_info + a:after, .sir_bd_list01 .list_info + div:after {
  content: "";
  position: absolute;
  height: 70%;
  border-right: 1px dashed #d9d9d9;
  top: 15%;
  display: block;
  left: 0;
}

.sir_bd_list01 .list_info.is_notice {
  color: #fa583c;
}

.sir_bd_list01 .list_info.is_notice span {
  color: #d9d9d9;
}

.sir_bd_list01 .list_info {
  min-width: 120px;
}

@media only screen and (max-width: 640px) {
  .sir_bd_list01 .list_info {
    min-width: 105px;
  }
}

.sir_bd_list01 li:hover .list_info * {
  color: #000;
}

.sir_bd_list01 li.off {
  background-image: url("/img/m/List_arrow2.jpg");
}

@media only screen and (max-width: 640px) {
  .sir_bd_list01 > li {
    background: #fff;
  }
  .sir_bd_list01 > li:hover {
    background: #fff;
  }
}

.U_siteMap .U_btn02 {
  border-color: #fff;
}

@media only screen and (max-width: 640px) {
  .U_siteMap.on {
    display: block;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .U_siteMap.on {
    display: block;
  }
}

.U_siteMap .U_btm_mypage {
  background: url("/img/m/Top_Mypage.png") no-repeat center;
  background-size: 40% auto;
}

.U_siteMap .U_btm_stieMap {
  background: url("/img/m/Top_Menu_close.png") no-repeat center;
  background-size: 40% auto;
}

.sir_area01 {
  border: 1px solid #bdbdbd;
  border-radius: 4px 4px 0 0;
  padding: 10px 30px;
  height: 130px;
  overflow: auto;
  width: 100%;
}

.sir_input_box02 {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 10px 30px;
  line-height: 30px;
}

.sir_input_box02 label {
  margin-right: 10px;
  color: #333;
}

.sir_input_box {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 0 30px;
  height: 65px;
}

.sir_input_box > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 65px;
}

.sir_input_box label {
  margin-right: 10px;
  color: #333;
}

.sir_input01 {
  padding: 0 30px;
  height: 65px;
  border-radius: 4px;
  padding: 0 30px !important;
}

@media only screen and (max-width: 640px) {
  .sir_input01 {
    height: 50px;
  }
}

.sir_input02 {
  padding: 0 30px;
  height: 65px;
  border-radius: 4px 0 0 4px;
  padding: 0 30px !important;
  line-height: 63px;
  border: 1px solid #bdbdbd;
  border-right: 0;
}

@media only screen and (max-width: 640px) {
  .sir_input02 {
    height: 50px;
    line-height: 48px;
  }
}

.sir_input03 {
  border: 1px solid #f7954c;
  border-radius: 4px 0 0 4px;
}

.sir_input03::-webkit-input-placeholder {
  color: #f7954c;
}

.sir_input03:-ms-input-placeholder {
  color: #f7954c;
}

.sir_input_btn {
  padding: 0;
  height: 65px;
  border-radius: 0 4px 4px 0;
  text-align: center;
  line-height: 65px;
  background: #fa583c;
  color: #fff;
  max-width: 170px;
}

@media only screen and (max-width: 640px) {
  .sir_input_btn {
    height: 50px;
    line-height: 50px;
  }
}

.sir_label {
  margin-bottom: 15px;
  display: block;
}

@media only screen and (max-width: 640px) {
  .sir_label {
    font-size: 1.25rem;
  }
}

.sir_label_ck {
  cursor: pointer;
  padding-left: 30px;
  background: url("/img/icon_ch.png") no-repeat left center;
  background-size: 20px;
}

input[type="checkbox"]:checked + .sir_label_ck {
  background-image: url("/img/icon_chOn.png");
}

input[type="radio"]:checked + .sir_label_ck {
  background-image: url("/img/icon_chOn.png");
}

.cs_benner {
  position: relative;
  top: 1px;
  background: url("/img/pc/cs_benner0.jpg") #000 no-repeat center;
}

.cs_benner.cs_notice {
  background: url("/img/pc/cs_benner1.jpg") #000 no-repeat center;
}

.cs_benner.cs_qna {
  background: url("/img/pc/cs_benner2.jpg") #000 no-repeat center;
}

.cs_benner.cs_reviewP {
  background: url("/img/pc/cs_benner3.jpg") #000 no-repeat center;
}

.cs_benner.cs_reviewH {
  background: url("/img/pc/cs_benner4.jpg") #000 no-repeat center;
}

.cs_benner img {
  position: relative;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  left: 0;
}

.cs_benner a:hover img {
  left: 20px;
}

@media only screen and (max-width: 640px) {
  .cs_benner a:hover img {
    left: 0;
  }
}

.sir_bd_top01 {
  border-top: 1px solid #fa583c;
}

.sir_bd_top02 {
  border-top: 2px solid #fa583c;
}

.sir_bd_top03 {
  border-top: 3px solid #fa583c;
}

.sir_bd_top11 {
  border-top: 1px solid #bdbdbd;
}

.sir_bd_top12 {
  border-top: 2px solid #bdbdbd;
}

.sir_bd_top13 {
  border-top: 3px solid #bdbdbd;
}

.sir_bd_top21 {
  border-top: 1px solid #d9d9d9;
}

.sir_bd_top22 {
  border-top: 2px solid #d9d9d9;
}

.sir_bd_top23 {
  border-top: 3px solid #d9d9d9;
}

.sir_bd_top24 {
  border-top: 1px dashed #d9d9d9;
}

.sir_bd_btm11 {
  border-bottom: 1px solid #bdbdbd;
}

.sir_bd_btm12 {
  border-bottom: 2px solid #bdbdbd;
}

.sir_bd_btm13 {
  border-bottom: 3px solid #bdbdbd;
}

.sir_bd_btm21 {
  border-bottom: 1px solid #d9d9d9;
}

.sir_bd_btm22 {
  border-bottom: 2px solid #d9d9d9;
}

.sir_bd_btm23 {
  border-bottom: 3px solid #d9d9d9;
}

.sir_bd_btm24 {
  border-bottom: 1px dashed #d9d9d9;
}

.sir_bd_all01 {
  border: 1px solid #fa583c;
}

.sir_bd_all11 {
  border: 1px solid #bdbdbd;
}

.sir_bd_all21 {
  border: 1px solid #d9d9d9;
}

.sir_bg01 {
  background: #fa583c;
}

.sir_ftc01 {
  color: #fa583c;
}

.sir_ftc02 {
  color: #ff9b34;
}

.sir_rd01 {
  border-radius: 5px;
}

.sir_rd02 {
  border-radius: 0 4px 4px 0;
}

.sir_a_hover01 a:hover, .sir_a_hover01 a:focus {
  background: #fa583c;
  color: #fff;
}

.sir_btn02 {
  height: 40px;
  width: 85px;
  line-height: 38px;
  border: 1px solid #d9d9d9;
  font-size: 15px;
}

.sir_btn03 {
  background: #ff9735 !important;
  color: #fff !important;
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .sir_btn03 {
    width: 58px;
  }
}

@media only screen and (min-width: 1024px) {
  .sir_btn03 {
    width: 58px;
  }
}

.sir_btn04 {
  height: 20px;
  line-height: 20px;
  padding: 0 20px;
  font-size: 13px;
  color: #fff;
  border-radius: 20px;
  background: #989898;
  display: inline-block;
}

.sir_btn04.on {
  background: #f7954c;
}

.sir_btn05 {
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
  font-size: 17px;
  color: #fff;
  border-radius: 30px;
  background: #989898;
}

.sir_btn05.on {
  background: #f7954c;
}

.sir_btn06 {
  border: 1px solid #ff9735;
  color: #ff9735;
}

.sir_btn06.on {
  background: #ff9735;
  color: #fff;
}

.sir_btn07 {
  border: 1px solid #fa583c;
  color: #fa583c;
}

.sir_btn07.on {
  background: #fa583c;
  color: #fff;
}

.sir_btn08 {
  border: 1px solid #fe8a36;
  color: #fe8a36;
}

.sir_btn08.on {
  background: #fe8a36;
  color: #fff;
}

.sir_btn09 {
  border: 1px solid #bdbdbd;
  color: #777;
}

.sir_btn09.on {
  background: #bdbdbd;
  color: #fff;
}

.sir_btn10 span {
  position: relative;
}

.sir_btn10 span:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: calc(100% + 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fa583c;
}

.sir_bd_wd01 {
  border-left: 1px dashed #d9d9d9;
  border-right: 1px dashed #d9d9d9;
}

.sir_btn11 {
  color: #fff;
  border: 1px solid #fff;
}

.sir_top02 {
  top: 2px;
}

.U_benner {
  background: no-repeat center;
  height: 250px;
}

.U_benner.set_sub01, .U_benner.set_sub09 {
  background-image: url("/img/pc/subBenner_event.jpg");
}

.U_benner.set_sub02 {
  background-image: url("/img/pc/subBenner_cs.jpg");
}

.U_benner.set_sub03, .U_benner.set_sub04, .U_benner.set_sub05 {
  background-image: url("/img/pc/subBenner_member.jpg");
}

.U_benner.set_sub06, .U_benner.set_sub07, .U_benner.set_sub08 {
  background-image: url("/img/pc/subBenner_py.jpg");
}

.sir_modal {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 90;
}

.sir_box_sd {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.sir_fregister::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  border-radius: 20px;
  left: 0;
  background: #f6f6f6;
  top: 50px;
  height: calc(100% - 50px);
}

.sir_fregister * {
  position: relative;
}

.U_siteMap {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 90;
}

.U_siteMap .U_site_con {
  float: right;
  height: 100%;
  overflow: auto;
  max-width: 640px;
  width: 100%;
  position: relative;
}

.U_siteMap .U_btm_stieMap2 {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.mb_info {
  position: absolute;
  bottom: 110%;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  margin-left: -170px;
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .mb_info {
    left: 110%;
    margin-left: 0;
    top: 50%;
    margin-top: -150px;
    clear: both;
    height: 300px;
    z-index: 80;
  }
}

@media only screen and (max-width: 640px) {
  .mb_info {
    left: 0;
    margin-left: 0;
    z-index: 80;
  }
}

a:hover + .mb_info {
  display: block;
}

.mb_info:after {
  width: 30px;
  position: absolute;
  bottom: -25px;
  content: "";
  display: block;
  border-top: 25px solid #fff;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .mb_info:after {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .mb_info:after {
    display: none;
  }
}

.sir_calendar {
  width: 640px;
  margin: 0 auto;
  color: #000;
}

.sir_calendar table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

@media only screen and (max-width: 640px) {
  .sir_calendar {
    width: 100%;
  }
}

.sir_calendar .datelist {
  color: #fff;
}

.sir_calendar .datelist div {
  padding: 20px 0;
  background: #fa583c;
  padding: 20px 0;
  height: auto;
}

.sir_calendar .datelist > *:first-child div {
  border-radius: 10px 0 0 0;
}

.sir_calendar .datelist > *:last-child div {
  border-radius: 0 10px 0  0;
}

.sir_calendar .datelist * {
  color: #fff;
}

.sir_calendar tr .on > div {
  background: url("/img/m/Attendance_circle.png") no-repeat center;
  background-size: 100%;
}

.sir_calendar tr .on > div span {
  color: #ff9b34;
  font-size: 22px;
  top: -2px;
}

@media only screen and (max-width: 640px) {
  .sir_calendar tr .on > div span {
    font-size: 3.4375vw;
  }
}

.sir_calendar tr .point div {
  border: 3px solid #fa583c;
  color: #fa583c;
  line-height: 1 !important;
  text-align: left;
  padding-left: 10%;
  padding-top: 15%;
  font-size: 22px;
}

@media only screen and (max-width: 640px) {
  .sir_calendar tr .point div {
    font-size: 3.4375vw;
  }
}

.sir_calendar tr .point div > span {
  display: block;
}

.sir_calendar tr .point div > span > span {
  font-size: 16px;
  display: block;
}

@media only screen and (max-width: 640px) {
  .sir_calendar tr .point div > span > span {
    font-size: 2.5vw;
  }
}

.sir_calendar tr .point div > span > span span {
  font-size: 13px;
}

@media only screen and (max-width: 640px) {
  .sir_calendar tr .point div > span > span span {
    font-size: 2.03125vw;
  }
}

.sir_calendar tr .uplevel div {
  position: relative;
}

.sir_calendar tr .uplevel div:after {
  content: "";
  position: absolute;
  display: block;
  height: 17px;
  width: 19px;
  right: 5px;
  top: 5px;
  background: url("/img/m/Attendance_star1.png") no-repeat center;
  background-size: cover;
}

@media only screen and (max-width: 640px) {
  .sir_calendar tr .uplevel div:after {
    width: 2.96875vw;
    height: 2.65625vw;
  }
}

.sir_calendar tr td.sc_day:first-child {
  color: #db1b1b;
}

.sir_calendar tr td.sc_day:last-child {
  color: #1972ce;
}

.sir_calendar tr .sc_day > div > div {
  height: 70px;
  line-height: 70px;
  width: 70px;
  margin: 0 auto;
}

@media only screen and (max-width: 640px) {
  .sir_calendar tr .sc_day > div > div {
    width: 90%;
    height: 10.6vw;
    line-height: 10.6vw;
  }
}

.sir_calendar tr .sc_day > div {
  padding: 5px 0;
}

.sir_calendar tr > *:last-child, .sir_calendar tr > *:first-child {
  width: 16.25%;
}

.sir_calendar tr > * {
  width: 13.5%;
  padding: 0;
}

.sir_calendar tr > *:first-child > div {
  border-left: 1px solid #d9d9d9;
  padding-left: 17.35%;
}

.sir_calendar tr > *:last-child > div {
  border-right: 1px solid #d9d9d9;
  padding-right: 17.35%;
}

.sir_calendar tr:first-child td > div {
  border: 0;
}

.sir_calendar tr:nth-child(2) td > div {
  padding-top: 40px;
}

.sir_calendar tr:last-child td > div {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 80px;
}

.sir_calendar tr:last-child > *:first-child > div {
  border-radius: 0 0 0 10px;
}

.sir_calendar tr:last-child > *:last-child > div {
  border-radius: 0 0 10px  0;
}

.sir_cal_tit {
  font-size: 150px;
  position: relative;
  top: -30px;
}

.sir_cal_tit > span {
  top: 80px;
}

.sir_cal_tit span span {
  font-size: 60px;
  top: 20px;
  right: -84px;
}

@media only screen and (max-width: 640px) {
  .sir_cal_tit {
    font-size: 7rem;
  }
  .sir_cal_tit > span {
    top: 11.5vw;
  }
  .sir_cal_tit span span {
    font-size: 3.7rem;
    top: 14%;
    right: -44%;
  }
}

#captcha.m_captcha audio {
  width: 100%;
  margin: 0 0 10px 0;
}

#captcha.m_captcha #captcha_img {
  margin: 0;
  height: 40px;
  float: left;
  border: 1px solid #bdbdbd;
  margin-bottom: 10px;
}

#captcha.m_captcha #captcha_key {
  margin: 0;
  height: 40px;
  float: left;
  border: 1px solid #bdbdbd;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  margin-bottom: 10px;
  width: calc(100% - 200px);
}

#captcha.m_captcha #captcha_reload {
  float: left;
  margin-bottom: 10px;
  border-radius: 0;
}

#captcha.m_captcha #captcha_info {
  clear: both;
  display: block;
}

#captcha.m_captcha {
  display: block;
}
/*# sourceMappingURL=dalyPm.css.map */